<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="messages"></div>
        <div>
            <div>
                <label for="username">Username</label>
                <input id="username" placeholder="Tomm Smith"/>
            </div>
            <div>
                <label for="message">Message</label>
                <input id="message" placeholder="Hey!"/>
            </div>
            <button id="send" onClick="sendMessage()">Send</button>
        </div>
    </body>
    <script>
        const socket = new WebSocket("ws://localhost:8080/chat");
        socket.onmessage = (event)=>{
            const messages = document.getElementById("messages");
            messages.innerHTML += `<p>${event.data}</p>`;
        };
        sendMessage = ()=>{
            const username = document.getElementById("username");
            const message = document.getElementById("message");
            const messageToAppend = `${username.value}: ${message.value}`;
            socket.send(messageToAppend);
            message.value = "";
        }
    </script>
</html>
